<!-- Masonry -->
<div class="container">
  <div class="mainContent">
    <!-- masonry grid -->
    <div class="grid">
      <!-- each work cover image is a masomry grid item -->
      <!-- id of each is work slug so can request contents through jquery -->
      {% for work in works %}
        <div class="grid-item" id="{{work.slug}}">
          <!-- class to contain image and text - shown on hover with background colour -->
          <div class="overlayImage">
            <!-- get image from media url -->
            <img src="{{ MEDIA_URL }}{{ work.coverImage }}" id="{{ work.slug }}">
            <!-- overlay the works title -->
            <h2 id="overlayText">{{ work.title }}</h2>
          </div>
        </div>
      {% endfor %}
    </div>
  </div>
</div>
